/***********************/
/* CODE VOOR ALGEMEEN" */
/***********************/
*, *::after, *::before {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

body {
  font-family: "Open Sans","Helvetica Neue",sans-serif;
  position: relative;
}

header {
  position: sticky;

  top: 0;
  margin: 0;

  z-index: 10;
  width: 100%;
} 

main {
  width: 100%;

  background-color: var(--background-color-main);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /*justify-content: center;*/
}

main ul {
  padding: 0;
}

h2 {
  font-size: medium;
}


/*******************/
/* CODE VOOR ROOT" */
/*******************/
:root {
  --background-color-nintendo-red:#e60012;
  --background-color-nintendo-dark-red:#c40010;
  --background-color-white:white;
  --background-color-main: whitesmoke;
  --background-color:black;
  --background-color-black:black;
  --background-color-lightgray:lightgray;

  --background-color-white-opacity:rgba(255, 255, 255, .95);
  --secondary-background-color:rgba(0 0 0 / .75);

  --accent-color:white;
  --secondary-color:black;
  --third-color:#e60012;
  --third-color-nintendo-red:#e60012;
  --fourth-color-orange:orange;
  --third-background-color:rgb(243, 243, 56);

  --shadow-color:rgba(0 0 0 / .5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-nintendo-red:rgb(53, 53, 53);        
    --background-color-nintendo-dark-red:black;     
    --background-color-white:rgb(209, 209, 209);
    --background-color-main: black;
    --background-color-black:white;
    --background-color-white-opacity:rgba(0, 0, 0, 0.95);
    --fourth-color-orange:rgb(124, 81, 0);
    --background-color-lightgray:darkgray;
  }
}


/****************/
/* CODE VOOR NAV*/
/****************/
nav {
  background-color: var(--background-color-nintendo-red);
  max-width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  /*Positie nav*/
  top: 0;
  margin: 0;
  padding: .5em;
  width: 100%;

  /* Punten weghalen*/
  list-style-type: none;
  
  /*flexbox*/
  display: flex; 
  align-items: center;
  flex-wrap: wrap;
  /*Ruimte tussen nav elementen*/
  gap: 1em; 
}

nav a {
  /* Opmaak tekst*/
  color: white;  
  text-decoration: none;
  font-weight: bold;
  font-size:x-small;

  /*flexbox*/
  display: flex;
  align-items: center;  
  flex-direction: column; 
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  max-width: 3em;
  height: auto;
}

/* Selecteren van de eerste li img */
nav li:nth-of-type(1) {
  margin-right: auto;
}

nav li:nth-of-type(1) img {
  max-width: 7em;
  height: auto;
}

nav ul li:nth-of-type(3){
  display:none;
}

nav button {
  padding: 0;
  border: none;
  background: none;
}

/* Hamburger */
.hamburger_menu {
  margin: 1em;
  cursor: pointer;
}

.hamburger_menu:hover {
  transform: translateY(-.5em);
}

.hamburger_menu span {
  margin-top: 4px; 

  width: 2em;
  height: 3px;

  position: relative;
  display: block;

  border-radius: 3px;
  background-color: var(--background-color-white);
}

.mushroom {
  display: none;
}


/*****NOG MEE BEZIG******
.hamburger_menu span:nth-of-type(1) {
  animation-name: flipping-top-bun;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes flipping-top-bun {
  0% {
    transform: rotate(45deg) scale(1);
   
  }

  100% {
    transform: rotate(-45deg) scale(1.1) ;
  }
}

.hamburger_menu span:nth-of-type(3) {
  animation-name: flipping-bottom-bun;
  animation-duration: 2s;
  animation-iteration-count: 1;
} 

@keyframes flipping-bottom-bun {
  0% {
    transform: rotate(-45deg) scale(1);
    
  }
  100% {
    transform: rotate(45deg)  scale(1.1);
  }
}


.hamburger_menu span:nth-of-type(2) {
  animation-name: flipping-patty;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes flipping-patty {
  0% {
  opacity: 1;
    
  }

  100% {
    opacity: 0;
  }
} 

*/



/***********************************/
/* CODE VOOR class .uitgeklapt_menu*/
/***********************************/
/*********************************/
.uitgeklapt_menu {
  position: fixed;

  padding-top: 7em;
  width: 100%;

  bottom: 0;
  right: 0;
  top: 0;
  left: 0;

  z-index: 5;

  background: var(--background-color-white-opacity);

  transform: translateY(-100%);
  transition: 1s;
}

.uitgeklapt_menu.toonMenu {
  transform: translateY(0);
}

.uitgeklapt_menu img {
  width: 4em;
  height: auto;
  padding: 1em .5em 1em .5em;
}

.uitgeklapt_menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.uitgeklapt_menu li {
  margin: .5em;

  width: 6em;
  height: 7em;

  background-color: var(--background-color-nintendo-red);
  border-radius: 4%;
  text-align: center;
  list-style-type: none;
  position: relative;
}


.uitgeklapt_menu li h2 {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: 1em;

  text-align: center;
  font-size: xx-small;
  color: var(--accent-color);
}
/*********************************/


/********************/
/* CODE VOOR FOOTER */
/********************/
footer {
  background-color: var(--background-color-nintendo-dark-red) ;
  width: 100%;
}


/* CODE VOOR HEADER IN FOOTER */
.header_footer {
  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--background-color-nintendo-red);
}

footer img {
  max-width: 4.5em;
  height: auto;
}

label {
  font-size: 1rem;
  padding-right: 1em;
}

.label_language_select {
  display: none;
}

select {
  padding: 2px 5px;
  font-size: .9rem;

  background-color: var(--background-color-nintendo-dark-red);
  border-radius: .5em;
  color: var(--accent-color);
  border: none;
}

.language_select {
  color: var(--accent-color);
}


/* CODE VOOR MAIN IN FOOTER */
.main_footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  background-color: var(--background-color-nintendo-dark-red);
}

.main_footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main_footer li {
  padding: .5em;
  list-style-type: none;
}

.main_footer li:hover {
  text-decoration: underline;
}

.main_footer ul:first-of-type li a {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: bold;
}

.main_footer ul:last-of-type li a {
  text-decoration: none;
  color: var(--accent-color);
  font-size: small;
}

.main_footer p {
  color: var(--accent-color);
  text-align: right;
  padding: 1em;
}


/* Code voor HOME ***********************************************/
/******************************************/
/* CODE VOOR SECTION MET class="news_feed" */
/******************************************/
.news_feed {
  top: 0;
  margin: .2em;
}

.news_feed li:hover {
  background: rgba(0,0,0, .5);
  border-radius: .5em;
  color:var(--accent-color);

  transition: .5s;
  transform: translateY(-.5em);

  overflow: hidden; 
  box-shadow: 0em .4em .4em black;
}

.news_feed li:active {
  box-shadow: none;
}

.news_feed img {
  width: 100%;
  border-radius: .5em;
}

.news_feed li {
  list-style-type: none;
}

.news_feed h2 {
  overflow: hidden;
}


/*************************************/
/* CODE PER H2 IN SECTION .news_feed */
/*************************************/
/* CODE VOOR li MET h2_onder_met_omlijning */
.news_feed li:nth-of-type(1),
.news_feed li:nth-of-type(4) {
  position:relative;
}

.news_feed li:nth-of-type(1) h2, 
.news_feed li:nth-of-type(4) h2 {
  position:absolute;

  left:1em;
  right:1em;
  bottom:1em;
  
  margin:0;
  padding:.5em;
  
  text-transform: uppercase;
  background-color:var(--background-color);
  border:solid .25em var(--accent-color);
  text-align:center;
  color:var(--accent-color);
}


/* CODE VOOR li MET h2_overflow */
.news_feed li:nth-of-type(2) {
  position:relative;
}

.news_feed li:nth-of-type(2) h2 {
  position: absolute;
  left: 18%;
  top: 0em;
  
  width: 60%;
  margin: 0;
  padding: .5em;
  
  background-color: var(--third-background-color);
  box-shadow: .25em .25em .25em var(--shadow-color);
  border-radius: 0 0 .5em .5em;
  
  text-align: center;
  color: var(--secondary-color);

  text-transform: uppercase;
  /* Tijd om naar de hover-state te veranderen */
  transition: .5s;

  /* om wat uit het element steekt te verbergen */
  overflow: hidden;
}
.news_feed li:nth-of-type(2):hover h2 {
  /* Padding aan de bovenkant is groter bij hoveren */
  padding: 2em .5em .5em;
}


/* CODE VOOR li MET h2_metgradient" */
.news_feed li:nth-of-type(3) {
  position: relative;
}

.news_feed li:nth-of-type(3) h2 {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  padding: .5em .5em .5em;
  
  /* van helemaal transparant zwart naar zwart */
  background-image: linear-gradient( rgba(0,0,0,1),rgba(0,0,0,0) );
  text-align: center;
  color: var(--accent-color);
}


/* CODE VOOR li MET h2.onderenboven */
.news_feed li:nth-of-type(7) {
  position: relative;
}

.news_feed li:nth-of-type(7) h2:first-of-type {
  position: absolute;

  left: 1em;
  right: 1em;
  bottom: 1em;
  
  margin: 0;
  padding: .5em;
  
  text-transform: uppercase;
  background-color: var(--background-color);
  border: solid .25em var(--accent-color);
  text-align: center;
  color: var(--accent-color);
}

.news_feed li:nth-of-type(7) h2:last-of-type {
  position: absolute;
  left: 0;
  /* en 0 vanaf de rechterkant - dus volle breedte */
  right: 0;
  top: 0;

  margin: 0;
  padding: .5em;

  background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1), rgba(0, 162, 255, .25));
  text-align: center;
  color: var(--accent-color);
  border-radius: .5em .5em 0 0;
}


/* CODE VOOR li MET h2_boven */
.news_feed li:nth-of-type(6) {
  position: relative;
}

.news_feed li:nth-of-type(6) h2 {
  position: absolute;
  
  left: 0;
  right: 0;
  top: 0;

  margin: 0;
  padding: .5em;

  background-color: var(--background-color);
  color: var(--accent-color);
  border-radius: .5em .5em 0 0; 
}


/* CODE VOOR li MET h2_onder */
.news_feed li:nth-of-type(5) {
  position: relative;
}

.news_feed li:nth-of-type(5) h2 {
  position: absolute;

  left: 0;
  right: 0;
  bottom: 0;

  margin: 0;
  padding: .5em;

  overflow: hidden;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--accent-color);
  border-radius: 0 0 0.5em 0.5em; 
}


/***********************************/
/* CODE VOOR SECTION .latest_games */
/***********************************/
/***********************************/
/* CODE VOOR SECTION .latest_games */
/***********************************/
.latest_games {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.latest_games li {
  margin: .25em;
  padding: 0 .25em 0 .25em ;
  
  list-style-type: none;
  background-color:var(--background-color-white);
}

.latest_games li a {
  display: flex;
  flex-direction: row;
  text-align: left;

  text-decoration: none;
  color: var(--secondary-color);
}

.latest_games img {
  max-width: 6em;
  margin: .25em;

  border-radius: .5em;
}

.latest_games h2 {
  background-color:var(--background-color-white);
  margin-left: .20em;
  margin-right: .25em;
  margin-top: .5em;
  padding: .5em;
  
  font-size: 18px;
  }

  .latest_games li:hover a h2 {
    text-decoration: underline;
    }

.latest_games section{
  display: flex;
  flex-direction: column;
}

.latest_games section h2 {
  padding: .5em;
  font-size: 16px;
}

.latest_games p {
  padding-left: 1em;

  font-size: 12px;
  color: gray;
}


.latest_games a{
  padding: .5em;
  margin-left: .20em;
  margin-right: .25em;

  text-align: right;
  text-decoration: none;

  color: var(--third-color);
  background-color: var(--background-color-white);

  font-size: 18px;
  font-weight: bold;
} 

/**********************************/
/* CODE VOOR SECTION .social_media */
/**********************************/
.social_media {
  margin: 2em 0 2em 0;
  padding: 1em;

  background-color: rgb(66, 66, 66);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.social_media h2{
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 1.5em;
}

.social_media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social_media li {
  list-style-type: none;
}

.social_media img {
  margin: .25em;

  max-width: 2.5em;
  border-radius: .5em;
}


/* NINETDO FAMILIE PAGINA*****************************************/
/*****************************/
/* CODE VOOR SECTION ns_models*/
/*****************************/
.ns_models {
  margin-top: .2em;

  width: 100%;

  background-color: #e60012;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ns_models li {
  list-style-type: none; 
  overflow: hidden;
}

.ns_models img {
  max-width: 100%;
  height: auto;
}

.ns_models h2 {
  color: var(--accent-color);
  font-size: x-large;
}

.ns_models p {
  color: var(--accent-color);
}


.ns_models li p:last-of-type {
  margin: 0 auto;

  margin-top: 1em;
  margin-bottom: 5em;
  padding: .5em 4em .5em 4em;
  width: 50%;

  border: #c40010 2px solid;
  background-color: var(--background-color-nintendo-dark-red);
  color: var(--accent-color);
  font-weight: bold;
  font-size: small;
}

.ns_models ul li:hover p:last-of-type {
  border: white 2px solid;
}

.ns_models ul li:hover img {
  transform: scale(1.05);
}

.ns_models a {
  text-decoration: none;
}


/****************************/
/* CODE VOOR SECTION buttons*/
/****************************/
.buttons {
  width: 100%;

  background-color: var(--background-color-nintendo-red);
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.buttons p {
  margin: 1em;
  padding: 1em;

  width: 20em;
  height: 4em;

  border: solid 1px;
  background-color: var(--background-color-nintendo-red);
  color: var(--accent-color);
  font-size: large;

  text-align: center;
}

.buttons p:hover {
  background-color: var(--background-color-nintendo-dark-red); 
}

.buttons p a {
  color: var(--accent-color);
  text-decoration: none;
}
/*****************************/
/* CODE VOOR SECTION ns_online*/
/*****************************/
.ns_online {
  width: 100%;
  margin-top: 1em;
  background-color: var(--background-color-white);
}

.ns_online img {
  width: 10em;
  height: auto;
}

.ns_online a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  text-decoration: none;
  color:var(--secondary-color);
}

.ns_online a:first-of-type h2 {
  margin: 1em 1em 0em 1em;
  font-size: large;
} 

.ns_online a:first-of-type h2:first-letter {
  color: var(--background-color-nintendo-red);
  font-size: xx-large ;
} 

.ns_online a:last-of-type h2 {
  margin: 1em 1em 0em 1em;
  font-size: large;
  color: var(--fourth-color-orange);
} 

.ns_online a:last-of-type h2:first-letter {
  font-size: xx-large;
} 


.ns_online p {
  margin: 1em 1em 1em 1em;
}

.ns_online section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--background-color-nintendo-red);
  width: 100%;
  justify-content: space-around;
}

.ns_online a:first-of-type section {
  background-color: var(--background-color-nintendo-red);
} 

.ns_online a:last-of-type section {
  background-color: var(--background-color-lightgray);
} 

.ns_online div {
  width: .5em;
  height: auto;

  padding: 1em;

  background-color: var(--background-color-nintendo-red);
}


/***************************/
/* CODE VOOR SECTION slider*/
/***************************/
.slider {
  /* background-image:url('images/carousel1.jpeg'); */
  margin: 1em 0 1em 0;
  padding: 3em;

  width: 100%;
  height: auto;
 
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
}

.slider ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  animation-name: infiniteslider;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes infiniteslider {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(357%);
  }
}

.slider li {
  list-style-type: none;
}

.slider img {
  margin: 0em .5em 0em .5em;

  width: 10em;
  height: auto;
}






/**************************/
/********* @MEDIA *********/
/**************************/
/* RESPONSIVE */
@media (min-width: 48em) {

  /*winkelwagen komt te voorschijn*/
    nav ul li:nth-of-type(3){
      display:block;
    }

  /* hamburgermenu verdwtijnt */
    nav button {
      display: none;
    }

/* menu komt te voorschijn in de main */
    .uitgeklapt_menu {
      padding-top: 5em;
      width: 6.5%;
      height: auto;
      background: none;
    
      transform: translateY(0);
      background-color: var(--background-color-nintendo-dark-red);
    }

    .uitgeklapt_menu ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .uitgeklapt_menu li {
      margin:0;
    
      width: 6em;
      height: 7em;
    
      background-color: var(--background-color-nintendo-red);
      border-radius: 4%;
      border:solid var(--background-color-nintendo-dark-red);
      text-align: center;
      list-style-type: none;
      position: relative;
    }

    .uitgeklapt_menu li:hover {
      background-color:#c40010 ;
    }

    /* menu opties die niet te zien zijn op een groterscherm */
    .uitgeklapt_menu li:nth-of-type(6), 
    .uitgeklapt_menu li:nth-of-type(7),
    .uitgeklapt_menu li:nth-of-type(8){
      display: none;
    }  

    /* main en footer schuiven iets naar rechts*/
    main, footer{
      padding-left:6em ;
    }  

    /* Slider mag langzamer gaan voor overloop*/
    @keyframes infiniteslider {
      from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(85%);
      }
    }

}





@media (min-width: 64em) {

  /* Muchroom animatie in de nav*/
    .mushroom {
      display: block;
      animation-name: mushroom;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    
    @keyframes mushroom {
      from {
        transform: translateX(0%) scale(0);
      }
    
      to {
        transform: translateX(2400%) scale(1.3);
      }
    }

    /* NS models in een row rij (tweede-pagina)*/
    .ns_models ul {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
    
    /* Buttons in een row rij (tweede-pagina)*/
    .buttons {
      width: 100%;
      
      background-color: var(--background-color-nintendo-red);
        
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: nowrap;
    }
    
    /* news_feed grid gegeven*/
    .news_feed ul {
      max-width: 55em;
      border-radius: .5em;

      display: grid;
      /* fraction drie rijen */
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap:10px;
    }

    .news_feed ul li:nth-of-type(1),
    .news_feed ul li:nth-of-type(7) {
      /* over twee fracties heen */
      grid-column: span 2;
    }

    .news_feed ul li:nth-of-type(2) img,
    .news_feed ul li:nth-of-type(6) img {
      height: 98.5%;
    }


    .news_feed img {
      max-width: 100%;
      border-radius: .5em;
    }

    /* latest_games smaller gemaakt, zodat het in een row komt */
    .latest_games {
      max-width: 28em;
    
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

     /* Slider mag langzamer gaan voor overloop */
  @keyframes infiniteslider {
      from {
        transform: translateX(0%);
      }
    
      to {
        transform: translateX(20%);
      }
    }

    /* Styling voor 2 sections naast elkaar */
    div {
      display: flex;
      flex-direction: row;
    }

}




/* Vragen */
/* - Mag een section in een section bij latest games, 
of moet het vervangen worden door een div door styling*/

/* - Hulp nodig met hamburger-menu animatie, en ook dat het bij een 
groterscherm mee gaat in height, schaalt nu niet mee */

/* To do: Bevindingen uit test verwerken */