/***********************/
/* CODE VOOR ALGEMEEN" */
/***********************/
*, *::after, *::before {
  box-sizing:border-box; 
  margin: 0; 
  padding: 0;
}

body {
  font-family: 'arial';
  position: relative;
}

header{
  position: sticky;

  top:0;
  margin:0;

  z-index: 10;
  width: 100%;
} 

main {
  background-color:whitesmoke;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
}

main ul {
  max-width:32em;
  padding:0;
}

h2{
  font-size: 16px;
}


/*******************/
/* CODE VOOR ROOT" */
/*******************/
:root {
  --background-color-nintendo-red: #e60012;
  --background-color-white: white;
  --background-color:black;
  --secondary-background-color:rgba(0 0 0 / .75);
  --third-background-color:rgb(243, 243, 56);

  --accent-color:white;
  --secondary-color:black;
  --third-color:#e60012 ;

  --shadow-color:rgba(0 0 0 / .5);
}


/****************/
/* CODE VOOR NAV*/
/****************/
nav {
  background-color: var(--background-color-nintendo-red);
  max-width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  /*Positie nav*/
  top:0;
  margin:0;
  padding:.5em;
  width: 100%;

  /* Punten weghalen*/
  list-style-type: none;
  
  /*flexbox*/
  display:flex; 
  align-items: center;
  flex-wrap: wrap;
  /*Ruimte tussen nav elementen*/
  gap:1em; 
}

nav a {
  /* Opmaak tekst*/
  color: #FFF;  
  text-decoration: none;
  font-weight: bold;
  font-size:x-small;

  /*flexbox*/
  display: flex;
  align-items: center;  
  flex-direction:column; 
}

nav a:hover {
  text-decoration: underline;
}

nav img {
  max-width: 3em;
  height: auto;
}

/* Selecteren van de eerste li img */
nav li:nth-of-type(1) {
  margin-right: auto;
}

nav li:nth-of-type(1) img {
  max-width: 7em;
  height: auto;
}

nav button{
  padding: 0;
  border: none;
  background: none;
}

/* Hamburger */
.hamburger_menu {
  margin: 1em;
}

.hamburger_menu span {
  position: relative;
  display: block;

  width: 2em;
  height: 3px;

  margin-top: 4px;

  border-radius: 3px;
  background-color: white;

}


/*****NOG MEE BEZIG******/
.top_bun{
  animation-name:flipping-top-bun;
  animation-duration:2s;
  animation-iteration-count:1;
}

@keyframes flipping-top-bun {
  0% {
    transform: rotate(45deg) scale(1);
   
  }

  100% {
    transform: rotate(-45deg) scale(1.1) ;
  }
}

.bottom_bun{
  animation-name:flipping-bottom-bun;
  animation-duration:2s;
  animation-iteration-count:1;
} 

@keyframes flipping-bottom-bun {
  0% {
    transform: rotate(-45deg) scale(1);
    
  }
  100% {
    transform: rotate(45deg)  scale(1.1);
  }
}


.patty{
  animation-name:flipping-patty;
  animation-duration:2s;
  animation-iteration-count:1;
}

@keyframes flipping-patty {
  0% {
  opacity: 1;
    
  }

  100% {
    opacity: 0;
  }
} 

/****************/



/***********************************/
/* CODE VOOR class .uitgeklapt_menu*/
/***********************************/
/*********************************/
.uitgeklapt_menu {
  position: fixed;

  padding-top: 7em;
  width: 100%;

  bottom: 0;
  right: 0;
  top: 0;
  left: 0;

  z-index: 5;
 
  background: rgba(255, 255, 255, .95);

  transform: translateY(-100%);
  transition: 1s;
}

.uitgeklapt_menu.toonMenu {
  transform: translateY(0);
}

.uitgeklapt_menu img{
  width:4em;
  height: auto;
  padding: 1em .5em 1em .5em;
}

.uitgeklapt_menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.uitgeklapt_menu li {
  margin: .5em;

  width: 6em;
  height: 7em;

  background-color: var(--background-color-nintendo-red);
  border-radius: 4%;
  text-align: center;
  list-style-type: none;
}

.h2_hamburger_menu {
  position: relative;
}

.h2_hamburger_menu h2 {
  position:absolute;

  left:0;
  right:0;
  bottom:0;

  margin:0;
  padding:1em;

  text-align:center;
  font-size: xx-small;
  color:var(--accent-color);
}
/*********************************/


/********************/
/* CODE VOOR FOOTER */
/********************/
Footer{
  background-color: #c40010 ;
  width: 100%;
}

/********************************************/
/* CODE VOOR CLASS "header_footer" in FOOTER */
/********************************************/

.header_footer{
  padding: 1em;

  display: flex;
  flex-direction: row;
  justify-content:space-between;

  background-color:var(--background-color-nintendo-red);
}

footer img {
  max-width: 4.5em;
  height: auto;
}

label {
  font-size: 1rem;
  padding-right: 1em;
}

.label_language_select {
  display: none;
}

select {
  padding: 2px 5px;
  font-size: .9rem;

  background-color:#c40010;
  border-radius: .5em;
  color: var(--accent-color);
  border: none;
}

.language_select{
  background-color:#c40010;
  color: var(--accent-color);
}

/******************************************/
/* CODE VOOR CLASS "main_footer" in FOOTER */
/******************************************/
.main_footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main_footer ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main_footer li{
  padding: .5em;
  list-style-type: none;
}

.main_footer li:hover {
  text-decoration: underline;
}

.main_footer ul:first-of-type li a{
  text-decoration: none;
  color:var(--accent-color);
  font-weight: bold;
}

.main_footer ul:last-of-type li a{
  text-decoration: none;
  color:var(--accent-color);
  font-size: small;
}

.main_footer p{
  color: var(--accent-color);
  text-align: right;
  padding: 1em;
}


/* Code voor HOME ***********************************************/
/******************************************/
/* CODE VOOR SECTION MET class="news_feed" */
/******************************************/
.news_feed{
  top:0;
  margin:0.2em;
  max-width: 100%;
}

.news_feed li:hover {
  top: -1em; 

  background-color:var(--secondary-background-color);
  color:var(--accent-color);
  transition: 0.8s;
  overflow: hidden; 
  box-shadow: 0em .4em .4em black;
}

.news_feed li:active {
  box-shadow: none;
}

.news_feed img{
  max-width:100%;
  border-radius: 0.5em;
}

.news_feed li {
  list-style-type: none;
}

.news_feed h2 {
  overflow: hidden;
}

/************************************/
/* CODE PER H2 IN SECTION .news_feed */
/************************************/
/****************************************/
/* CODE VOOR li MET class="h2_overflow" */
/****************************************/
/* meerdere woorden veranderen in hoofletter onderEnBoven */

.h2_overflow {
  position:relative;
}

.h2_overflow h2 {
  position:absolute;
  left:17.5%;
  top: 0em;
  
  width:60%;
  margin:0;
  padding:.5em;
  /* transform:rotate(0deg); */
  
  background-color:var(--third-background-color);
  box-shadow:.25em .25em .25em var(--shadow-color);
  border-radius:0 0 0.5em 0.5em;
  
  text-align:center;
  color:var(--secondary-color);

  text-transform: uppercase;
  /* Tijd om naar de hover-state te veranderen */
  transition:.5s;

  /* om wat uit het element steekt te verbergen */
  overflow:hidden;
}

.h2_overflow:hover h2 {
  /* Padding aan de bovenkant is groter bij hoveren */
  padding:2em .5em .5em;
}


/*************************************/
/* CODE VOOR li MET class="h2_boven" */
/*************************************/
.h2_boven {
  position:relative;
}

.h2_boven h2 {
  position:absolute;
  
  left:0;
  right:0;
  top:0;

  margin:0;
  padding:.5em;

  background-color:var(--background-color);
  color:var(--accent-color);
  border-radius: 0.5em 0.5em 0 0; 
}

/*************************************/
/* CODE VOOR li MET class="h2_onder" */
/*************************************/
.h2_onder {
  position:relative;
}

.h2_onder h2 {
  position:absolute;

  left:0;
  right:0;
  bottom:0;

  margin:0;
  padding:.5em;

  overflow: hidden;
  text-align:center;
  background-color:var(--secondary-background-color);
  color:var(--accent-color);
  border-radius: 0 0 0.5em 0.5em; 
}


/*************************************************/
/* CODE VOOR li MET class="h2_onder_met_omlijning" */
/*************************************************/
.h2_onder_met_omlijning {
  position:relative;
}

.h2_onder_met_omlijning h2:first-of-type {
  position:absolute;

  left:1em;
  right:1em;
  bottom:1em;
  
  margin:0;
  padding:.5em;
  
  text-transform: uppercase;
  background-color:var(--background-color);
  border:solid .25em var(--accent-color);
  text-align:center;
  color:var(--accent-color);
}


/*******************************************/
/* CODE VOOR li MET class="h2.onderenboven"*/
/*******************************************/
.h2_onder_en_boven {
  position:relative;
}

.h2_onder_en_boven h2:first-of-type {
  position:absolute;

  left:1em;
  right:1em;
  bottom:1em;
  
  margin:0;
  padding:.5em;
  
  text-transform: uppercase;
  background-color:var(--background-color);
  border:solid .25em var(--accent-color);
  text-align:center;
  color:var(--accent-color);
}

.h2_onder_en_boven h2:last-of-type {
  position:absolute;
  left:0;
  /* en 0 vanaf de rechterkant - dus volle breedte */
  right:0;
  top:0;

  margin:0;
  padding:.5em;

  background-image:linear-gradient( rgba(0,0,0,1),rgba(0,0,0,1), rgba(0, 162, 255, .25) );
  text-align:center;
  color:var(--accent-color);
  border-radius: 0.5em 0.5em 0 0;
}


/*******************************************/
/* CODE VOOR li MET class="h2_metgradient" */
/*******************************************/
.h2_metgradient {
  position:relative;
}

.h2_metgradient h2 {
  position:absolute;

  left:0;
  right:0;
  bottom:0;

  padding:.5em .5em .5em;
  
  /* van helemaal transparant zwart naar zwart */
  background-image:linear-gradient( rgba(0,0,0,1),rgba(0,0,0,0) );
  text-align:center;
  color:var(--accent-color);
}



/***********************************/
/* CODE VOOR SECTION .latest_games */
/***********************************/

.latest_games{
  max-width:100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.latest_games li {
  margin: .25em;
  padding: 0 .25em 0 .25em ;
  width: 100%;

  display: flex;
  flex-direction: row;
 
  list-style-type: none;
  background-color:var(--background-color-white);
}

.latest_games li a {
  display: flex;
  flex-direction: row;
  text-align: left;
  text-decoration: none;
  color: black;
}

.latest_games img{
  max-width:6em;
  margin: .25em;

  border-radius: .5em;
}

.latest_games .text_latest_games{
  display: flex;
  flex-direction: column;
  
}

.latest_games h2 {
background-color:var(--background-color-white);

margin-top: .5em;
padding: .5em;
width: 100%;
font-size: 18px;
}

.latest_games h3 {
  padding: .5em;
  font-size: 16px;
}

.latest_games p {
  font-size: 12px;
  color: gray;
  padding-left: .5em;
}


.meer_games_button {
  padding: .5em;

  text-align:right;
  text-decoration: none;

  color: var(--third-color);
  background-color:var(--background-color-white);

  font-size: 18px;
  font-weight: bold;
} 


/**********************************/
/* CODE VOOR SECTION .social_media */
/**********************************/
.social_media {
  margin: 2em 0 2em 0;
  padding: 1em;

  background-color:rgb(66, 66, 66);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.social_media h2{
  text-transform: uppercase;
  color:var(--accent-color);
  font-size: 1.5em;
}

.social_media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social_media li {
  list-style-type: none;
}

.social_media img {
  margin: .25em;

  max-width: 2.5em;
  border-radius: .5em;
}




/* NINETDO FAMILIE PAGINA*****************************************/
/*****************************/
/* CODE VOOR SECTION ns_models*/
/*****************************/
.ns_models {
  margin-top: .5em;

  width: 100%;

  background-color: var(--background-color-nintendo-red);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
 
}

.ns_models li {
  list-style-type: none; 
  overflow: hidden;
}

.ns_models img {
  max-width: 100%;
  height: auto;
}

.ns_models h2 {
  color: var(--accent-color);
  font-size: x-large;
}

.ns_models p {
color: var(--accent-color);
}


.ns_models li p:last-of-type {
margin: 0 auto;

margin-top:1em;
margin-bottom: 5em;
padding: .5em 4em .5em 4em;
width: 50%;

border:#c40010 2px solid;
background-color: #c40010;
color: var(--accent-color);
font-weight: bold;
font-size: small;
}

.ns_models ul li:hover p:last-of-type {
  border: white 2px solid;
}

.ns_models ul li:hover img {
  transform: scale(1.05);
}

.ns_models a{
  text-decoration: none;
}


/****************************/
/* CODE VOOR SECTION buttons*/
/****************************/
.buttons {
  top: 0; 
  background-color: var(--background-color-nintendo-red);
  text-align: center;
  width: 100%;
}

.buttons p{
margin:1em;


width: 90%;
height: 4em;

border: solid 1px;
background-color: var(--background-color-nintendo-red);
color: var(--accent-color);
font-size: large;

display: flex;
align-items: center;
justify-content: center;
}

.buttons p:hover {
  background-color:#c40010; 
}

.buttons p a{
  color: white;
  text-decoration: none;
}
/*****************************/
/* CODE VOOR SECTION ns_online*/
/*****************************/
.ns_online{
width:100%;
margin-top: 1em;
background-color: var(--background-color-white);
}

.ns_online img {
  width: 10em;
  height: auto;
}

.ns_online a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-decoration: none;
  color: black;
}

.ns_online a:first-of-type h2 {
  margin: 1em 1em 0em 1em;
  font-size: large;
} 

.ns_online a:first-of-type h2:first-letter {
  color: var(--background-color-nintendo-red);
  font-size: xx-large ;
} 

.ns_online a:last-of-type h2 {
  margin: 1em 1em 0em 1em;
  font-size: large;
  color: orange;
} 

.ns_online a:last-of-type h2:first-letter {
  font-size: xx-large ;
} 


.ns_online p{
  margin: 1em 1em 1em 1em;
}

.ns_online_images{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--background-color-nintendo-red);
  width: 100%;
  justify-content: space-around;
}

.ns_online a:first-of-type .ns_online_images {
  background-color: var(--background-color-nintendo-red);
} 

.ns_online a:last-of-type .ns_online_images {
  background-color: lightgray;
} 

.ns_online div {
  width: .5em;
  height: auto;
  padding:1em;
  background-color: var(--background-color-nintendo-red);
}


/*****************************/
/* CODE VOOR SECTION slider/
/*****************************/
.slider {
  /* background-image:url('images/carousel1.jpeg'); */
  margin: 1em 0 1em 0;
  padding: 3em;

  width: 100%;
  height: auto;
 
  position: relative;
  overflow: hidden;
  background-color: var(--background-color);
}

.slider ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  animation-name: infiniteslider;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes infiniteslider {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(357%);
  }
}

.slider li{
  list-style-type: none;
}

.slider img {
  margin:0em .5em 0em .5em;

  width: 10em;
  height: auto;
}


/* NOTITIES


- media queries 
ophoging, kan lezen of iemand darkmode aan heeft (bijv)
mediaqueries, hamburger menu veranderen naar losse elementen
@media (min-width: 48em) 

Vragen
- Vragen wat ik het beste kan doen vanaf iphone 5 wat betreft menu
- vragen over animated squeezed hmaburger menu



*/

